{{#each this}}
<div class="photo-card card" style="width: 18rem;">
  <img src="{{webformatURL}}" alt="" href="{{largeImageURL}}" class="ard-img-top" id="image" />

  <div class="stats card-body">
    <p class="stats-item">
      <i class="material-icons">thumb_up</i>
      {{likes}}
    </p>
    <p class="stats-item">
      <i class="material-icons">visibility</i>
      {{views}}
    </p>
    <p class="stats-item">
      <i class="material-icons">comment</i>
      {{comments}}
    </p>
    <p class="stats-item">
      <i class="material-icons">cloud_download</i>
      {{downloads}}
    </p>
  </div>
</div>
{{/each}}
